# Created by https://www.toptal.com/developers/gitignore/api/sass,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=sass,visualstudiocode

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/sass,visualstudiocode